In [23]:
import numpy as np
import pandas as pd

In [ ]:
d1=pd.read_csv(r"C:\Users\Saraf Nihal chandra\Desktop\last project 1\models\101.csv")
d2=pd.read_csv(r"C:\Users\Saraf Nihal chandra\Desktop\last project 1\models\111.csv.csv")
d1
d1.to_csv("101.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Daniel\\Downloads\\101.csv.csv'

In [ ]:
replacements={
    "Deccan Chargers":"Sunrisers Hyderabad",
    "Kings XI Punjab":"Punjab Kings",
    "Delhi Daredevils":"Delhi Capitals",
    "Royal Challengers Bangalore":"Royal Challengers Bengaluru"
}

In [ ]:
d2.replace(replacements,inplace=True)
d2
d2.to_csv("111.csv")

In [ ]:
total_runs=d2.groupby(['id','innings']).sum()['total_run'].add(1).reset_index()
total_runs

           id  innings  total_run
0      335982        1        223
1      335982        2         83
2      335983        1        241
3      335983        2        208
4      335984        1        130
...       ...      ...        ...
2212  1426310        2        175
2213  1426311        1        176
2214  1426311        2        140
2215  1426312        1        114
2216  1426312        2        115

[2217 rows x 3 columns]

In [ ]:
total_runs = total_runs[total_runs['innings']==1]

In [ ]:
match =d1.merge(total_runs[['id','total_run']],left_on='id',right_on='id')
match

,id,season,city,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,won by,margin,target,umpire1,umpire2,total_run
0,335982,2008,Bangalore,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,223.0,Asad Rauf,RE Koertzen,223
1,335983,2008,Chandigarh,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,MR Benson,SL Shastri,241
2,335984,2008,Delhi,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,130.0,Aleem Dar,GA Pratapkumar,130
3,335985,2008,Mumbai,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,bat,Royal Challengers Bengaluru,wickets,5.0,166.0,SJ Davis,DJ Harper,166
4,335986,2008,Kolkata,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,5.0,111.0,BF Bowden,K Hariharan,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,Nitin Menon,VK Sharma,215
1091,1426309,2024,Ahmedabad,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,AK Chaudhary,R Pandit,160
1092,1426310,2024,Ahmedabad,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,KN Ananthapadmanabhan,MV Saidharshan Kumar,173
1093,1426311,2024,Chennai,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,Nitin Menon,VK Sharma,176
1094,1426312,2024,Chennai,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,J Madanagopal,Nitin Menon,114

In [ ]:
teams=['Royal Challengers Bengaluru',
       'Chennai Super Kings',
       'Delhi Capitals',
       'Mumbai Indians',
       'Sunrisers Hyderabad',
       'Kolkata Knight Riders',
       'Punjab Kings',
       'Rajasthan Royals',
       'Lucknow Super Giants',
       'Gujarat Titans'
      ]

In [ ]:
match=match[match['team1'].isin(teams)]
match=match[match['team2'].isin(teams)]

In [ ]:
match['team1'].value_counts()
match['team2'].value_counts()

team2
Mumbai Indians                 133
Sunrisers Hyderabad            126
Kolkata Knight Riders          124
Delhi Capitals                 120
Rajasthan Royals               117
Punjab Kings                   117
Chennai Super Kings            106
Royal Challengers Bengaluru    106
Gujarat Titans                  36
Lucknow Super Giants            21
Name: count, dtype: int64

In [ ]:
match=match[['id','city','winner','total_run','team1','team2']]

In [ ]:
second_innings=match.merge(d2,on='id')
second_innings

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [ ]:
second_innings=second_innings[second_innings['innings']==2]
second_innings

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [ ]:
second_innings['current_score'] = second_innings.groupby('id')['total_run_y'].cumsum()
second_innings

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\4136022957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['current_score'] = second_innings.groupby('id')['total_run_y'].cumsum()

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,non_striker,batsman_runs,extra_runs,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,110
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,111
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,112
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,113
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,114

In [ ]:
second_innings['runs_left'] = second_innings['total_run_x'] - second_innings['current_score']
second_innings

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\3767435765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['runs_left'] = second_innings['total_run_x'] - second_innings['current_score']

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,batsman_runs,extra_runs,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0

In [ ]:
second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])
second_innings

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\3450208605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,extra_runs,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,1,222,125
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,1,wides,0,NaN,NaN,NaN,2,221,124
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,NaN,0,NaN,NaN,NaN,2,221,123
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,3,220,122
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,4,219,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,1,NaN,0,NaN,NaN,NaN,110,4,67
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,1,NaN,0,NaN,NaN,NaN,111,3,66
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,112,2,65
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,113,1,64
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,114,0,63

In [ ]:

columns_to_check = ['current_score', 'runs_left', 'balls_left']

# Check how many values in each column are negative
negative_counts = second_innings[columns_to_check].lt(0).sum()

# Display the counts
print("Number of negative values in each column:")
print(negative_counts)

Number of negative values in each column:
current_score      0
runs_left        321
balls_left         0
dtype: int64

In [ ]:
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna(0)
#second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x:"1" if x!="0" else "0")
#second_innings['player_dismissed'] = second_innings['player_dismissed'].astype('int')
wickets = second_innings.groupby('id')['is_wicket'].cumsum()
second_innings['wickets_remaining'] = 10-wickets
second_innings

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\1017798563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna(0)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\1017798563.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['wickets_remaining'] = 10-wickets

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,1,222,125,10
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,wides,0,0,NaN,NaN,2,221,124,10
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,0,0,NaN,NaN,2,221,123,10
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,3,220,122,10
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,4,219,121,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,0,NaN,NaN,110,4,67,8
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,0,NaN,NaN,111,3,66,8
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,112,2,65,8
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,113,1,64,8
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,114,0,63,8

In [ ]:
second_innings

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,total_run_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,1,222,125,10
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,wides,0,0,NaN,NaN,2,221,124,10
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,0,0,NaN,NaN,2,221,123,10
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,3,220,122,10
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,4,219,121,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,0,NaN,NaN,110,4,67,8
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,0,NaN,NaN,111,3,66,8
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,112,2,65,8
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,113,1,64,8
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,114,0,63,8

In [ ]:
second_innings['crr'] = round((second_innings['current_score']*6)/(120 - second_innings['balls_left']),2)
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\2924301203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['crr'] = round((second_innings['current_score']*6)/(120 - second_innings['balls_left']),2)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\2924301203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,NaN,NaN,1,222,125,10,-1.20,10.66
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,NaN,NaN,2,221,124,10,-3.00,10.69
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,NaN,NaN,2,221,123,10,-4.00,10.78
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,NaN,NaN,3,220,122,10,-9.00,10.82
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,0,NaN,NaN,4,219,121,10,-24.00,10.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,0,NaN,NaN,110,4,67,8,12.45,0.36
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,0,NaN,NaN,111,3,66,8,12.33,0.27
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,0,NaN,NaN,112,2,65,8,12.22,0.18
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,0,NaN,NaN,113,1,64,8,12.11,0.09
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,0,NaN,NaN,114,0,63,8,12.00,0.00

In [ ]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [ ]:
second_innings['results'] = second_innings.apply(winner,axis=1)
second_innings

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10592\3111665595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['results'] = second_innings.apply(winner,axis=1)

,id,city,winner,total_run_x,team1,team2,innings,batting_team,bowling_team,over,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining,crr,rrr,results
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,NaN,1,222,125,10,-1.20,10.66,0
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,NaN,2,221,124,10,-3.00,10.69,0
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,NaN,2,221,123,10,-4.00,10.78,0
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,NaN,3,220,122,10,-9.00,10.82,0
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,...,0,NaN,NaN,4,219,121,10,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,NaN,NaN,110,4,67,8,12.45,0.36,1
240043,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,NaN,NaN,111,3,66,8,12.33,0.27,1
240044,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,NaN,NaN,112,2,65,8,12.22,0.18,1
240045,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,NaN,NaN,113,1,64,8,12.11,0.09,1
240046,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,NaN,NaN,114,0,63,8,12.00,0.00,1

In [ ]:
required_data = second_innings[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','total_run_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_run_x,crr,rrr,results
124,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,222,125,10,223,-1.20,10.66,0
125,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,221,124,10,223,-3.00,10.69,0
126,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,221,123,10,223,-4.00,10.78,0
127,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,220,122,10,223,-9.00,10.82,0
128,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,121,10,223,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...
240042,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,8,114,12.45,0.36,1
240043,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,8,114,12.33,0.27,1
240044,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,8,114,12.22,0.18,1
240045,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,8,114,12.11,0.09,1
240046,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,8,114,12.00,0.00,1

In [ ]:
required_data = required_data.replace([np.inf, -np.inf], np.nan)
required_data = required_data.dropna()
required_data = required_data[required_data['crr'] >= 0]

In [ ]:
columns_to_check = ['runs_left', 'balls_left', 'wickets_remaining', 'total_run_x',  'results']

required_data = required_data[~(required_data[columns_to_check] < 0).any(axis=1)]

In [ ]:
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_run_x,crr,rrr,results
130,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,119,10,223,24.00,11.04,0
131,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,119,9,223,24.00,11.04,0
132,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,118,9,223,12.00,11.14,0
133,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,215,117,9,223,16.00,11.03,0
134,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,214,116,9,223,13.50,11.07,0
...,...,...,...,...,...,...,...,...,...,...
240042,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,8,114,12.45,0.36,1
240043,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,8,114,12.33,0.27,1
240044,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,8,114,12.22,0.18,1
240045,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,8,114,12.11,0.09,1
240046,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,8,114,12.00,0.00,1

In [ ]:
numeric = required_data[['runs_left', 'balls_left', 'wickets_remaining', 'total_run_x', 'crr', 'rrr', 'results']]
has_infinite_values = np.any(np.isinf(numeric))

# Check for negative values in the entire DataFrame
has_negative_values = (numeric < 0).any().any()

# Check for null values in the entire DataFrame
has_null_values = numeric.isnull().any().any()

# Display the results
print(f"Has Infinite Values: {has_infinite_values}")
print(f"Has Negative Values: {has_negative_values}")
print(f"Has Null Values: {has_null_values}")

Has Infinite Values: False
Has Negative Values: False
Has Null Values: False

In [ ]:
required_data.to_csv("cd.csv")

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = required_data.drop(['crr','rrr','results'],axis=1)
y = required_data['results']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=100)
y

130       0
131       0
132       0
133       0
134       0
         ..
240042    1
240043    1
240044    1
240045    1
240046    1
Name: results, Length: 104859, dtype: int64

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder 
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
],
remainder='passthrough')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [ ]:
pipe.fit(x_train,y_train)

c:\Users\Daniel\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [ ]:
y_pred = pipe.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8144573717337402

In [ ]:
pipe.predict_proba(x_test)[0]

array([0.08578601, 0.91421399])

In [ ]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

ra_pipe = Pipeline([
    ('step1',trf),
    ('step2',RandomForestClassifier())
])

ra_pipe.fit(x_train,y_train)

ra_y_pred = ra_pipe.predict(x_test)


accuracy_score(y_test,ra_y_pred)

0.9990844936105283

In [ ]:
ra_pipe.predict_proba(x_test)[0]

array([0.01, 0.99])

In [ ]:
import pickle
pickle.dump(ra_pipe,open('ipl_model.pkl','wb'))

In [ ]:
pip install joblib

Collecting joblib
  Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
     -------------------------------------- 308.4/308.4 kB 1.6 MB/s eta 0:00:00
Installing collected packages: joblib
Successfully installed joblib-1.5.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pickle
import joblib
import os

# Path to your pickle model
pickle_path = r"C:\Users\Saraf Nihal chandra\Desktop\last project 1\python\models\pipe.pkl"  # raw string to handle backslashes

# Check if the file exists
if not os.path.exists(pickle_path):
    raise FileNotFoundError(f"File not found: {pickle_path}")

# Load the pickle model
with open(pickle_path, "rb") as f:
    model = pickle.load(f)

# Path to save the joblib model
joblib_path = r"C:\Users\Saraf Nihal chandra\Desktop\last project 1\python\models\pipe.pkl"

# Save as joblib
joblib.dump(model, joblib_path)

print(f"Model successfully converted to joblib at {joblib_path}")

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
features = pd.DataFrame({
    'team_1': ["Royal Challengers Bengaluru"],
    'team_2': ["Kolkata Knight Riders"],
    'venue': ["Bangalore"],
    'runs_left': [219],
    'balls_left': [119],
    'wickets': [10],
    'total_run': [223],
    'crr': [24.00],
    'rrr': [11.04]
})
data = pd.read_csv('cd.csv')
data.rename(columns={'max_total_run_x': 'total_run_x'}, inplace=True)
data

,Unnamed: 0,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_run_x,crr,rrr,results
0,130,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,119,10,223,24.00,11.04,0
1,131,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,119,9,223,24.00,11.04,0
2,132,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,219,118,9,223,12.00,11.14,0
3,133,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,215,117,9,223,16.00,11.03,0
4,134,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,214,116,9,223,13.50,11.07,0
...,...,...,...,...,...,...,...,...,...,...,...
104854,240042,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,8,114,12.45,0.36,1
104855,240043,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,8,114,12.33,0.27,1
104856,240044,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,8,114,12.22,0.18,1
104857,240045,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,8,114,12.11,0.09,1
104858,240046,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,8,114,12.00,0.00,1